body {
  background-color: #282c34;
  color: white;
  overflow: hidden;
}

a {
  color: #61dafb;
}

h1 {
  font-size: calc(20px + 4vmin);
}

h2 {
  font-size: calc(10px + 2vmin);
}

a,
p {
  font-size: calc(10px + 1vmin);
}

.LandingPage__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.LandingPage__container > header {
  text-align: center;
  margin-bottom: 10vmax;
}

.LandingPage__container > section {
  text-align: center;
}

.App__container {
  margin: 0 10em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.SongSwiper__card {
  width: 400px;
  height: 550px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

.SongSwiper__card-image {
  width: 400px;
  height: 400px;
  border-radius: 10px 10px 0 0;
}

.SongSwiper__card-description {
  padding: 10px;
}

.SharePage__swipe-container {
}

.SharePage__swipe-cards-wrapper {
  position: relative;
}

.SharePage__card-preview {
  position: absolute;
  top: 0;
  z-index: -1;
}
