body {
  background-color: #282c34;
  color: white;
  overflow: hidden;
}

a {
  color: #61dafb;
}

h1 {
  font-size: calc(20px + 4vmin);
}

h2 {
  font-size: calc(10px + 2vmin);
}

a,
p {
  font-size: calc(10px + 1vmin);
}

button:focus {
  outline: white solid 1px;
}

.LandingPage__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.LandingPage__container > header {
  text-align: center;
  margin-bottom: 10vmax;
}

.LandingPage__container > section {
  text-align: center;
}

.App__container {
  margin: 0 10em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.SongSwiper__card {
  width: 400px;
  height: 550px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

.SongSwiper__card-image {
  width: 400px;
  height: 400px;
  border-radius: 10px 10px 0 0;
}

.SongSwiper__card-description {
  padding: 10px;
}

.SharePage__swipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 2em;
}

.SharePage__swipe-cards-wrapper {
  position: relative;
  padding-bottom: 2em;
}

.SharePage__card-preview {
  position: absolute;
  top: 0;
  z-index: -1;
}

.PlayButton__wrapper {
  margin-left: 24px;
  min-height: 80px;
}

.PlayButton__button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent white;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 37px 0 37px 60px;
}

.PlayButton__button.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}

.PlayButton:hover {
  border-color: transparent transparent transparent gray;
}
